body{
    background-color:beige;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    height:100vh;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.btn{
    padding: 1rem 2rem;
    font-size:1.5rem;
    flex-grow: 1.0;
}
.num_disp{
    display:flex;
    padding:1rem;
    text-align:center;
    font-size: 1.5rem;
    min-width: 0;

}
.row1, .row2, .row3{
    display: flex;
    gap: 1rem;
}