*{
    box-sizing: border-box;
}

body{
    background-color: rgb(144, 144, 144);
    display: grid;
    gap: 1rem;

    grid-template-areas: 
        "header header"
        "section aside"
        "new_container new_container"
        "footer footer"
    ;

    grid-template-columns: 1fr 1fr;
}

h2{
    font-size: 2rem;
    margin: 0;
}

header, footer, section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: contents;
}

header{
    grid-area: header;
}

aside{
    display: flex;
    grid-area: aside;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

footer{
    grid-area: footer;
}

section{
    grid-area: section;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.new_container{
    grid-area: new_container;
    min-height:35px
}
.notes{
    width:100%;
    display:flex;
    gap:2rem;

}
.details{
  display: grid;
  grid-template-columns: 80px 1fr; /* First column is 100px, second takes rest */
  gap: 10px ;                 /* Adds spacing between rows and columns */
  font-size: 24px;


}
#entryform{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
}

section form input{
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(111, 110, 110);
}
#new_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: none;
    background-color: blueviolet;
    color: white;
}

button:hover{
    background-color: rgb(179, 112, 241);
    cursor: pointer;
}

.border{
    border: 2px solid #333;
    padding: 15px;
    width:1;
    border-radius: 10px;
    background-color: #f9f9f9
}
.border h2{
    text-align: center;
    margin-top:0;
}

.details dd,dt{
    display: inline;
    font-size: 2rem;
}

.details dd:after{
    content: "\A";
    white-space: pre;
}

@media (max-width: 700px){
    body{
        grid-template-areas: 
            "header"
            "section"
            "aside" 
            "new container"
            "footer"
        ;
    }
}